Repository sksizer/template-tauri-nuxt: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, clippy, rustfmt, oxlint, prettier

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue,mjs}'
      run: cd src-nuxt && pnpm eslint {staged_files}
    clippy:
      glob: '*.rs'
      run: cd src-tauri && cargo clippy -- -D warnings
    rustfmt:
      glob: '*.rs'
      run: cd src-tauri && cargo fmt -- --check
    oxlint:
      glob: '*.{js,ts,vue,mjs}'
      run: cd src-nuxt && pnpm oxlint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,json,md,yml,yaml,mjs}'
      run: cd src-nuxt && pnpm prettier --check {staged_files}

docs: expand README with comprehensive tooling and structure documentation
  README.md
Due: prettier

docs: expand README with comprehensive tooling and structure documentation (#25)
  README.md
Due: prettier

feat: migrate from Husky to Lefthook and add developer tooling
  .prettierignore
  .prettierrc
  README.md
  oxlint.json
Due: prettier

refactor: move JS/TS tooling into src-nuxt and consolidate lint scripts
  .prettierignore
  .prettierrc
  oxlint.json
Due: prettier

feat: add Storybook and extract reusable components from app.vue
  Makefile
  package.json
  src-nuxt/.gitignore
  src-nuxt/.prettierignore
  src-nuxt/.storybook/main.ts
  src-nuxt/.storybook/preview.ts
  src-nuxt/app/app.vue
  src-nuxt/app/components/AppFooter.stories.ts
  src-nuxt/app/components/AppFooter.vue
  src-nuxt/app/components/AppHeader.stories.ts
  src-nuxt/app/components/AppHeader.vue
  src-nuxt/app/components/EchoCard.stories.ts
  src-nuxt/app/components/EchoCard.vue
  src-nuxt/app/components/GradientButton.stories.ts
  src-nuxt/app/components/GradientButton.vue
  src-nuxt/app/components/ResultBanner.stories.ts
  src-nuxt/app/components/ResultBanner.vue
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
  src-nuxt/stories/.gitkeep
  src-nuxt/stories/Welcome.stories.ts
Due: eslint, oxlint, prettier

fix: add missing Storybook peer dependencies and Vite plugins
  src-nuxt/.storybook/main.ts
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
Due: eslint, oxlint, prettier

fix: add default value for EchoCard invoker prop
  src-nuxt/app/components/EchoCard.vue
Due: eslint, oxlint, prettier

docs: update README with Storybook, Lefthook, and tooling documentation
  README.md
Due: prettier

Add in Storybook Isolation For UI Components (#26)
  Makefile
  README.md
  package.json
  src-nuxt/.gitignore
  src-nuxt/.prettierignore
  src-nuxt/.storybook/main.ts
  src-nuxt/.storybook/preview.ts
  src-nuxt/app/app.vue
  src-nuxt/app/components/AppFooter.stories.ts
  src-nuxt/app/components/AppFooter.vue
  src-nuxt/app/components/AppHeader.stories.ts
  src-nuxt/app/components/AppHeader.vue
  src-nuxt/app/components/EchoCard.stories.ts
  src-nuxt/app/components/EchoCard.vue
  src-nuxt/app/components/GradientButton.stories.ts
  src-nuxt/app/components/GradientButton.vue
  src-nuxt/app/components/ResultBanner.stories.ts
  src-nuxt/app/components/ResultBanner.vue
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
  src-nuxt/stories/.gitkeep
  src-nuxt/stories/Welcome.stories.ts
Due: eslint, oxlint, prettier

chore: remove unused @nuxt/content module from src-nuxt
  README.md
  src-nuxt/nuxt.config.ts
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
Due: eslint, oxlint, prettier

fix: use lefthook root option for correct staged file path resolution
  lefthook.yml
Due: prettier

chore: remove unused @nuxt/content and fix lefthook paths (#27)
  README.md
  lefthook.yml
  src-nuxt/nuxt.config.ts
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
Due: eslint, oxlint, prettier

feat: migrate from Husky to Lefthook and add developer tooling
  .prettierignore
  .prettierrc
  oxlint.json
Due: prettier

chore: align CI pipeline gaps — add typecheck, format check, and storybook build
  .github/workflows/ci.yml
  Makefile
Due: prettier

style: fix prettier formatting
  src-nuxt/.storybook/main.ts
  src-nuxt/app/components/AppHeader.stories.ts
  src-nuxt/app/components/EchoCard.stories.ts
  src-nuxt/app/components/EchoCard.vue
  src-nuxt/app/components/GradientButton.vue
  src-nuxt/app/components/ResultBanner.stories.ts
  src-nuxt/stories/Welcome.stories.ts
Due: eslint, oxlint, prettier

chore: update all dependencies to latest versions
  pnpm-lock.yaml
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
Due: prettier

chore: update deps to latest, fix Storybook v10 compat, improve prettier Vue config
  README.md
  src-nuxt/.prettierrc
  src-nuxt/.storybook/main.ts
  src-nuxt/app/components/GradientButton.stories.ts
  src-nuxt/pnpm-lock.yaml
Due: eslint, oxlint, prettier

feat: add Lefthook, Storybook components, and CI pipeline alignment (#28)
  .github/workflows/ci.yml
  Makefile
  README.md
  pnpm-lock.yaml
  src-nuxt/.prettierrc
  src-nuxt/.storybook/main.ts
  src-nuxt/app/components/AppHeader.stories.ts
  src-nuxt/app/components/EchoCard.stories.ts
  src-nuxt/app/components/EchoCard.vue
  src-nuxt/app/components/GradientButton.stories.ts
  src-nuxt/app/components/GradientButton.vue
  src-nuxt/app/components/ResultBanner.stories.ts
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
  src-nuxt/stories/Welcome.stories.ts
Due: eslint, oxlint, prettier

ci(lefthook): add typecheck to pre-commit hooks
  lefthook.yml
Due: prettier

feat(build): add justfile as alternative task runner to makefile
  README.md
  justfile
Due: prettier

feat(dev): add auto-port assignment for parallel worktree development
  Makefile
  README.md
  justfile
  mise.toml
  package.json
  scripts/dev-port.sh
  scripts/tauri-wrapper.mjs
  src-nuxt/nuxt.config.ts
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
Due: eslint, oxlint, prettier

feat(dev): add auto-port assignment for parallel worktree development (#43)
  Makefile
  README.md
  justfile
  mise.toml
  package.json
  scripts/dev-port.sh
  scripts/tauri-wrapper.mjs
  src-nuxt/nuxt.config.ts
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
Due: eslint, oxlint, prettier

feat: add architecture docs, project initialization, and Makefile/justfile alignment
  .scripts/initialize.sh
  .scripts/rename.sh
  Makefile
  README.md
  docs/architecture.md
  justfile
Due: prettier

refactor: consolidate .scripts/ into scripts/
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/architecture.md
  justfile
  package.json
  scripts/backend-format-check
  scripts/backend-lint
  scripts/backend-test
  scripts/initialize.sh
  scripts/rename.sh
  scripts/sync-template-check
Due: prettier

feat: add architecture docs, project init, and Makefile/justfile alignment (#29)
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/architecture.md
  justfile
  package.json
  scripts/backend-format-check
  scripts/backend-lint
  scripts/backend-test
  scripts/initialize.sh
  scripts/rename.sh
  scripts/sync-template-check
Due: prettier

feat: add template sync infrastructure and config alignment
  .prettierrc.yml
  CLAUDE.md
  Makefile
  cliff.toml
  justfile
  scripts/bring_up_to_date.sh
  scripts/bring_up_to_date/role.md
  scripts/bring_up_to_date/task.md
  scripts/bring_up_to_date_all.sh
  scripts/cousin_sync/role.md
  scripts/cousin_sync/task.md
  scripts/cousins.txt
  scripts/downstream.txt
  scripts/sync-template-check
  scripts/sync_cousins.sh
  src-tauri/rustfmt.toml
Due: prettier

feat: expand cousin sync to include feature parity across frameworks
  scripts/cousin_sync/role.md
  scripts/cousin_sync/task.md
Due: prettier

Add Vue template repo to cousins list
  scripts/cousins.txt
Due: none

feat: add template sync infrastructure and config alignment (#44)
  .prettierrc.yml
  CLAUDE.md
  Makefile
  cliff.toml
  justfile
  scripts/bring_up_to_date.sh
  scripts/bring_up_to_date/role.md
  scripts/bring_up_to_date/task.md
  scripts/bring_up_to_date_all.sh
  scripts/cousin_sync/role.md
  scripts/cousin_sync/task.md
  scripts/cousins.txt
  scripts/downstream.txt
  scripts/sync-template-check
  scripts/sync_cousins.sh
  src-tauri/rustfmt.toml
Due: prettier

feat: add template-tauri-vue to cousins.txt
  scripts/cousins.txt
Due: none

chore: update project from upstream template
  .intent/.gitignore
  .intent/config.json
Due: prettier

chore: update dependencies (within semver ranges)
  package.json
  pnpm-lock.yaml
  src-nuxt/.nuxtrc
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

chore: update dependencies (within semver ranges) (#46)
  package.json
  pnpm-lock.yaml
  src-nuxt/.nuxtrc
  src-nuxt/package.json
  src-nuxt/pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

feat(scripts): add deps_update and deps_upgrade automation
  .gitignore
  justfile
  scripts/deps_update.sh
  scripts/deps_update/role.md
  scripts/deps_update/task.md
  scripts/deps_update_all.sh
  scripts/deps_upgrade.sh
  scripts/deps_upgrade/role.md
  scripts/deps_upgrade/task.md
  scripts/deps_upgrade_all.sh
  scripts/downstream.txt
  scripts/lib/downstream.sh
Due: prettier

feat(scripts): add deps_update and deps_upgrade automation (#47)
  .gitignore
  justfile
  scripts/deps_update.sh
  scripts/deps_update/role.md
  scripts/deps_update/task.md
  scripts/deps_update_all.sh
  scripts/deps_upgrade.sh
  scripts/deps_upgrade/role.md
  scripts/deps_upgrade/task.md
  scripts/deps_upgrade_all.sh
  scripts/downstream.txt
  scripts/lib/downstream.sh
Due: prettier

fix(scripts): handle empty ARGS array under set -u
  scripts/bring_up_to_date_all.sh
  scripts/deps_update_all.sh
  scripts/deps_upgrade_all.sh
Due: none

fix(scripts): handle empty ARGS array under set -u (#48)
  scripts/bring_up_to_date_all.sh
  scripts/deps_update_all.sh
  scripts/deps_upgrade_all.sh
Due: none

feat(scripts): per-repo logs and PR summary for *_all batch runs
  scripts/bring_up_to_date_all.sh
  scripts/deps_update_all.sh
  scripts/deps_upgrade_all.sh
  scripts/lib/batch_summary.sh
Due: none

feat(scripts): per-repo logs and PR summary for *_all batch runs (#49)
  scripts/bring_up_to_date_all.sh
  scripts/deps_update_all.sh
  scripts/deps_upgrade_all.sh
  scripts/lib/batch_summary.sh
Due: none
